.wrapper{
    width: 600px;
    margin: 0 auto;
}
.title {
    text-align: center;
}
.form-wrapper{
    width: 100%;
}
.form-wrapper form{
    width: 400px;
    margin: 0 auto 30px;
}
input {
    width: 310px;
}
table {
    width: 100%;
}
